# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.py[cod]

# Virtual environment
env/
venv/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# PyCharm / VSCode
.idea/
.vscode/

# macOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environment variables
.env
